body
{
	margin:0;
	font-family:sans-serif;
	/* background:#c1bdba; */
	background: white;
	padding-top: 40px;
	height: 100%;
	
}
*
{
	text-decoration: none;
	border:0;
	outline:0;
	box-sizing: border-box;
}
ul,li
{
	list-style: none;
}

header
{
	/* background: #1ab188; */
	background: #4285F4;
	color:white;
	display: flex;
	/* justify-content: left; */
	height:68px;
	
	z-index: 100;
	position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	
	
}

header a
{
	color:white;
	justify-content: space-between;	
	
}
header ul 
{
	display: flex;
	
	justify-content: center;
	font-weight: bold;
}

header ul li
{
	padding: 5px;
	
}
header a:hover
{
	color:black;
	

}
.busesdiv{
	display: flex;
	flex-flow: wrap;
	justify-content: left;
}

.busesinnerdiv{
	display: flex;
	flex-flow: wrap;
	
	padding:10px 10px;
	margin: 20px auto;
	
	border-radius : 2px;
	height:200px;
	
	box-shadow:0 5px 5px black;
	
	width:30%;
	background-image: url(./components/bus.jpg);
	background-repeat: no-repeat;
	opacity: 0.8;
	background-size: cover;	
	object-fit: cover;
	/* align-items: center; */
	
}
.buseslist{
	display: flex;
	flex-direction: column;
	/* flex-flow: wrap; */
	align-items: center;
	justify-content: space-around;
	
	
}

.busesinnerdiv::before{

	
  
}

footer
{
	padding: 10px;
	/* background:#1ab188; */
	background: #4285F4;
	color:white;
	text-align: center;
}

.container
{
	padding: 2%;
	background: #e9e9e9;
  min-height: 88vh;
  
}

.hometable{
	line-height:80px;
	border-collapse: separate;
	border-spacing: 0 20px;
	width:100%;
	
	
	/* border-spacing: 10px;
	border-bottom: 2px solid black !important;*/
}

.hometable th, td { 
	
        width: 150px;
        text-align: center;
		/* border: 1px solid black; */
		border: none;
		margin:10px;
		
      
  
} 

.container table
{
  	width: 100%;

	/* background: white; */
	text-align: center;
	box-shadow:0 10px 10px black;
	/* line-height: 100px; */
	/* border: 1px solid black; */
	
	
	
}

.container table thead
{
	/* background: white; */
	
	color:black;
	text-transform: capitalize;
	font-size: 15px;
}
.container table tbody tr:hover
{
	background: silver;
	cursor: pointer;
}

.table-sm
{
	width: 20% !important;
  /* margin:2% auto !important; */
  float: right;
  border-radius: 5%;
  position: absolute;
  /* margin-top: 2%;
  margin-bottom: 100%; */
  margin: 5% auto;
  height:50px;
  right:20%;
  bottom:6%;
  
  
}

.table-sm td{
	border:2px solid black;
	border-radius: 10%;
}

.table-sm td:hover{
	background: #d3d3d3;
}
.card-bus
{
	position: absolute;
	/* top:10%;right:5%; */
  width:20%;
  /* margin : auto; */
  /* box-shadow:0 10px 10px #13232f; */
  /* text-align: justify; */
  /* padding-top: 4%; */
  left:15%;	
  height:25px;
  margin:5% auto;
  align-items: center;
  /* background:white; */


}
.card-bus .card-heading
{
	/* background:white; */
	color:black;
	margin: 5px auto;
	
	/* border-bottom: 1px solid #696969; */
	
  /* padding: 2%; */
  
}
.card-bus .card-body
{
	padding: 1%;
	line-height: 20px;
	background: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: normal;
	font-weight: 1000%;
	/* border-bottom: 1px solid #666666; */
	
}
.card-bus .card-footer
{
	/* padding: 2%; */
	/* background: white; */
	color:black;
	/* border-bottom: 1px solid #696969; */
	/* box-shadow:0 10px 10px #13232f; */
	justify-content: center !important;
}
.card-bus .card-footer button
{
	padding: 10px;
	margin:1% 1%;
	width: 30%;
	background:#4285F4;
	color:white;
	border-radius: 5px;
	justify-content: center;
	
}
/* .card-bus .card-footer button:disabled
{
	color:white;
	background: #696969;
} */
.card-bus .card-footer button:hover
{
	cursor: pointer;
	color:black;
}


.form1
{
	padding: 2%;
	
	margin:4% auto;
	/* background:#13232f; */
	background: white;
	color:black;
	text-align: center;
	width: 30%;
}

.form1 input
{
	width: 100%;
	padding: 10px;
	margin:10px auto;
	border:0;
	/* background:#13232f; */
	background: white;
	border: #4285F4 1px solid;
	color: black;

}

.form1 button
{
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	/* background:#1ab188; */
	background:#4285F4;
	color:white;
	
	font-weight: 200%;
	font-size: large;
}
.form1 button:focus
{
	background: tomato;
	color:white;
}

.form1 button:hover
{
	cursor: pointer;
}




table button
{
  padding: 10px;
  margin:5px;
	background: #4285F4;

	color:white;
	
}

.title
{
	padding: 20px;
	background: white;
	border-left: 10px solid #000;
	box-shadow:0 10px 10px black;
}

.sub-title
{
	padding: 10px;
	text-align: center;
	border-left: 5px solid green;
	background: rgba(0,255,0,0.2);
	text-align: left;
}
table input
{
	padding: 10px;
	border-left:5px solid #000;
}