body
{
	margin:0;
	font-family:calibri;
	background: silver;
}
*
{
	text-decoration: none;
	border:0;
	outline:0;
	box-sizing: border-box;
}
ul,li
{
	list-style: none;
}

header
{
	background: black;
	color:white;
	display: flex;
	justify-content: center;
}

header a
{
	color:white;
}
header ul 
{
	display: flex;
	justify-content: center;
}
header ul li
{
	padding: 10px;
}
header a:hover
{
	color:tomato;
}

footer
{
	padding: 10px;
	background: black;
	color:white;
	text-align: center;
}

.container
{
	padding: 2%;
	background: #e9e9e9;
	min-height: 84vh;
}


.container table
{
  width: 100%;

	background: white;
	text-align: center;
	box-shadow:0 10px 10px black;
}
.container table thead
{
	background: black;
	color:white;
	text-transform: uppercase;
}
.container table tbody tr:hover
{
	background: silver;
	cursor: pointer;
}

.table-sm
{
	width: 30% !important;
  margin:2% auto !important;
  
}

/* .card-bus
{
	position: absolute;
	top:10%;
	right:5%;
	box-shadow:0 10px 10px black;	

}
.card-bus .card-heading
{
	background: black;
	color:white;
	font-size: 200%;
	padding: 5%;
}
.card-bus .card-body
{
	padding: 1%;
	line-height: 30px;
	background: white;
	font-family: impact;
}
.card-bus .card-footer
{
	padding: 5%;
	background: black;
	color:white;
}
.card-bus .card-footer button
{
	padding: 10px;
}
.card-bus .card-footer button:disabled
{
	color:red;
	background: tomato;
} */


.form1
{
	padding: 2%;
	margin:2% auto;
	background: #333;
	color:white;
	text-align: center;
	width: 30%;
}

.form1 input
{
	width: 100%;
	padding: 10px;
}

.form1 button
{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background:black;
	color:white;
}
.form1 button:focus
{
	background: tomato;
	color:white;
}




table button
{
  padding: 10px;
  margin:5px;
	background: black;
	color:white;
	
}

.title
{
	padding: 20px;
	background: white;
	border-left: 10px solid #000;
	box-shadow:0 10px 10px black;
}

.sub-title
{
	padding: 10px;
	border-left: 5px solid green;
	background: rgba(0,255,0,0.2);
}
table input
{
	padding: 10px;
	border-left:5px solid #000;
}